.pb-1 {
  background-color: #DCDCDC;
  min-height: 800px;
}

.mat-card.header {
  height: 60px;
  margin-bottom: 40px;
  border-radius: 0;
  padding: 0;

  img.user-avatar {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: 0;
    margin-right: 30px;
    transform: translate(10px, 10px);
  }
}


img.user-avatar:hover {
  cursor: pointer;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.15);
}



.session-card {
  top: 60px;
  display: none;
  position: absolute;
  width: 350px;
  right: 15px;
  text-align: center !important;

  ::ng-deep {
    .session-title {
      color: #202124;
      font: 500 16px/24px "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
      letter-spacing: .1px;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
    }
  }


  img.user-avatar-session {
    width: 74px;
    border-radius: 50%;
    margin-bottom: 11px;
    border: 1px solid rgba(32, 33, 36, .13);
  }
}

.display {
  display: block;
}

.mat-card.form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: inherit;
}

::ng-deep {
  .mat-tab-header {
    margin-bottom: 20px;
  }
}

.mat-tab-group {
  margin-bottom: 48px;

  .check {
    margin-left: 5px;
    color: green;
  }

  .error {
    margin-left: 5px;
    color: #f7b924;
  }
}