.h-100 {
  background-color: #DCDCDC;
}

img.logo-comware {
  transform: translate(-50%);
  margin-top: 15px;
  margin-left: 50%;
}

.mat-card {
  width: 50%;
  height: 90%;
  transform: translate(50%, 3%);
}

.mat-card-content {
  margin-top: 30px;
}

.row {
  margin-bottom: 30px;
}

.mat-card-title {
  font-size: 20px;
}

.login-img {
  width: 30%;
  margin-top: 7% !important;
  min-width: 123px;
}

img.login-img:hover {
  cursor: pointer;
  width: 31%;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.15);
}