<div class="h-100">
    <img class="logo-comware" src="../../../assets/images/logo.png" alt="Logo Comware">
    <mat-card>
        <img mat-card-image src="../../../assets/images/sagrilaft/banner-3.jpg" alt="Banner of Login">
        <mat-card-title align="center">Bienvenido al Formulario clientes - SAGRILAFT</mat-card-title>
        <mat-card-subtitle align="center">Por favor ingresa con tu cuenta</mat-card-subtitle>

        <mat-card-content>
            <div class="row">
                <div class="col" align="center">
                    <img mat-card-image class="login-img" (click)="signInHandlerGoogle()"
                        src="../../../assets/images/sagrilaft/signin_google.png" alt="Login with Google">
                </div>
            </div>
            <!-- <div class="row" style="display: none;">
                <div class="col" align="center">
                    <img mat-card-image class="login-img" (click)="signInHandlerMicrosoft()"
                        src="../../../assets/images/sagrilaft/signin_microsoft.png" alt="Login with Microsoft">
                </div>
            </div> -->
        </mat-card-content>
    </mat-card>

</div>